<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>register_servlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.register_servlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getData</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.getData</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.upload</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>publishState</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.publishState</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>likeServlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.likeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.logoutServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>commentServlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.commentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>replyServlet</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.replyServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteReply</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.deleteReply</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteComment</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.deleteComment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>deleteState</servlet-name>
    <servlet-class>com.JSPkeshe.myservlet.deleteState</servlet-class>
  </servlet>










  <servlet-mapping>
    <servlet-name>register_servlet</servlet-name>
    <url-pattern>/register_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getData</servlet-name>
    <url-pattern>/getData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>publishState</servlet-name>
    <url-pattern>/publishState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>likeServlet</servlet-name>
    <url-pattern>/likeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>commentServlet</servlet-name>
    <url-pattern>/commentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>replyServlet</servlet-name>
    <url-pattern>/replyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteReply</servlet-name>
    <url-pattern>/deleteReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteState</servlet-name>
    <url-pattern>/deleteState</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
